/*

Table of content:

1.HEADER

2.MAIN
  2.1 Hero section
  2.2 Sezione ...
  2.3 Sezione ...
  ...

3.FOOTER

*/




/*
1.HEADER
*/

header{
}

.header-top{
  height: 30px;
}

.header-top img{
  width: 80px;
  cursor: pointer;
}

.header-bottom li img{
  width: 20px;
  cursor: pointer;
}




/*
2.MAIN
*/

main{
  
}


/* 2.1 Hero section */

.hero-section{
  height: 500px;

  background-image: url("../img/jumbo-bg.png");
  background-size: cover;
  background-position: center;
}


.hero-section img{
  width: 250px;
  margin: 30px 0;
}

.hero-section h2,
.hero-section p{
  margin-bottom: 30px;
}

.hero-section .sc-button{
  background-color: #CD3D0F;
  padding: 10px 20px;
  margin:0;
}



/* 2.2 Section Card */

.sc-card-container{
  margin-bottom: 20px;
}

.sc-card-container img{
  width: 100%;
  border-radius: 10px;
}



/* 2.3 Section Playstation 5 */

.console{
  margin-top: 50px;
  margin-bottom: 50px;
}

.console h5{
  margin: 30px 0;
}

.console .sc-button{
  background-color: #2D64E6;

  margin: 0;
  padding: 10px 15px;
}

.console img{
  width: 100%;
}


/* Accessori */

.accessori img{
  width: 100px;
  margin-bottom: 10px;
}

.accessori .sc-card-container{
  margin-bottom: 0px;
  cursor: pointer;
}

.accessori .active{
  border-bottom: 3px solid #4095DA;
}

.accessori .inactive{
  opacity: 0.5;
}

.accessori .inactive:hover{
  opacity: 1;
}




/* 2.4 Take-two section */

.take-two-section{
  height: 600px;

  padding: 0px;

  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-size: cover;
  background-position: center;
}

.take-two-section img{
  width: 250px;
  margin: 30px 0;
}

.take-two-section h2,
.take-two-section p{
  margin-bottom: 30px;
}

.take-two-section .sc-button{
  background-color: #CD3D0F;
  padding: 10px 20px;
  margin:0;
}

.take-two-container{
  margin-top: 20px;
}



/* 2.5 Sezione nuove uscite */

.new-game-section{
  background-color: #202020;
  color: white;
}



.playstation-plus-section {
  height: 450px;
  padding: 0;
  background-color: #BEBCBB;
}


.playstation-plus-section img{
  height: 100%;
  width: 100%;
}


.playstation-now-section{
  background-color: #161C3A;
}




/*
3.FOOTER
*/

footer{
  background-color: #16439C;
  height: 600px;

  color: white;
}


.footer-top,
.footer-bottom{
  width: 90%;
  margin: 0 auto;
}



/* Footer Top  */

.footer-top img{
  width: 120px;
  margin-bottom: 30px;
}

.footer-top nav ul{
  list-style: none;
}

.footer-top nav ul li{
  margin: 10px 0;
}

.footer-top nav ul li a{
  text-decoration: none;
  color: white;
}

.footer-top nav ul li a:hover{
  text-decoration: underline;
}




/* Footer Bottom  */

.footer-bottom img{
  width: 200px;
  margin-bottom: 30px;
}

/* .footer-bottom-text-container{
  width: 50%;
} */