/*

Table of content:

1.HEADER

2.MAIN
  2.1 Hero section
  2.2 Sezione ...
  2.3 Sezione ...
  ...

3.FOOTER

*/




/*
1.HEADER
*/

header{
}

.header-top{
  height: 30px;
}

.header-top img{
  width: 80px;
}

.header-bottom li img{
  width: 20px;
  cursor: pointer;
}




/*
2.MAIN
*/

main{
  
}


/* 2.1 Hero section */

.hero-section{
  height: 500px;
  background-image: url("../img/jumbo-bg.png");
  background-size: cover;
  background-position: center;
}


.hero-section img{
  width: 250px;
  margin: 30px 0;
}

.hero-section h2{
  margin-bottom: 30px;
}

.hero-section .sc-button{
  background-color: #CD3D0F;
  padding: 10px 20px;
  margin:0;
}

/* 2.2 Section.. */





/*
3.FOOTER
*/

footer{

}