/*

Table of content:

0.DEBUG

1.TESTI
  1.1 Titoli
  1.2 Piccole porzioni di testo
  ...

3.OGGETTI
  3.1 Bottoni

*/


/*
0.DEBUG
*/

.debug{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}

section{
  padding: 50px 0;
}


/*
2.TESTI
*/

/* 2.1 Titoli */

h1{
  margin-bottom: 30px;
  color: #202020;
}


h5{
  color: #727272;
}



/* 2.2 Piccole porzioni di testo */

span{
  color: #2876D0;
}




/*
3.OGGETTI
*/

/* 3.1 Bottoni */

.sc-button{
  padding: 0 15px;
  background-color: #363636;
  border: none;
  border-radius: 40px;
  margin: 0 20px;
}